<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="js/myApp3.js"></script>
    <script>
    </script>
    <title>angualrJs签到</title>
    <link rel="stylesheet" type="text/css" href="css/angularJs签到.css">
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container">
        <div class="headImgContainer">
            <image class="headImg" src="image/qdBanner.jpg"></image>
        </div>
        <div class="calendarContainer">
            <div class="title">
                <!--<button class="pre calendar_month_prev" ng-click="onPreClick()">上月</button>-->
                <p class="now">{{showYear+"年"+showMonth+"月"}}</p>
                <!--<button class="next calendar_month_next" ng-click="onNextClick()">下月</button>-->
            </div>
            <table class="calendar">
                <tr class="row" ng-repeat="x in date">
                    <td ng-repeat="y in x track by $index" class="{{y.signed}}">{{y.day}}</td>
                </tr>
            </table>
			<div class="btnContainer">
                <button class="btn" ng-click="qiandao()" onClick = "signIn()" ng-disabled="clickable">马上签到</button>
            </div>
        </div>
        
    </div>
    <div class="bg"></div>
    <div class="sign" style="display: none;">
            <div class="succ">
                <p class="success">{{"今日"+day+"号"}}</p><br>
				<p class="success">签到成功</P>
                <p class="succ_p">{{"您本月已签到"+count+"天"}}</p>
                <img class="succ_img" src="image/gift.png">
                <!--<button class="cj">去抽奖</button>-->
            </div>
    </div>
	<!--后台将数据初始化在input,浏览器不需再请求，直接加载即可-->
	<input type = 'hidden' class = 'data' value = '0000000000111101000111001010100000000000000000000'/>
	<input type = 'hidden' class = 'openId' value = '??????????'/>
   <script>
    function signIn() {
    	$(".bg").fadeIn();
        $(".sign").fadeIn();
    }
    $(".bg").click(function() {
    	$(".bg").fadeOut();
        $(".sign").fadeOut();
    });
    </script>
</body>
 
</html>